.containerXO {
  max-width: 390px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.containerXO section {
  margin-bottom: 12px;
}

.refresh {
  display: flex;
  justify-content: space-around;
}

.btn {
  display: block !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
}
