.inputName {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.radioGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.submitBtn {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}
